# Do Now: Errors

## Problem 1

In [6]:
num = 4.55
print(round(4) * int('5') + 3)

23

## Problem 2

In [5]:
name = "Roberta"
degrees = 14
print("Hello, my name is " + name + " and it is " + str(degrees) + " out today")

Hello, my name is Roberta and it is 14out today

## Problem 3

In [6]:
name = "Smushface"
print("I have a cat named", name)

I have a cat named Smushface

## Problem 4

In [7]:
age = 4
if age < 18:
    print("You aren't old enough to vote")

You aren't old enough to vote

## Problem 5

In [8]:
print("One two three four")
print("Five six seven eight")
print("Nine ten eleven twelve")

One two three four
Five six seven eight
Nine ten eleven twelve

## Problem 6

In [10]:
pies = 9
print("You have eaten " + str(pies) + " today")

You have eaten 9 today

## Problem 7

In [11]:
current_year = 2013
travel = "future"
cars = True
animal_type = "lions"
if current_year > 2017:
    print("It's the future!")

## Problem 8

In [12]:
elements = ['dog', 'mouse', 'cat']
print(elements[2])

cat

## Problem 9

In [13]:
current_year = 2017

if current_year >= 1776:
  print("The United States exists")
elif current_year >= 1624:
    print("New York City exists, but not the USA")
else:
    print("Neither NYC nor the USA exist")

The United States exists

## Problem 10

In [15]:
numbers = [1, 2, 4, 5]
print(sum(numbers))

12

## Problem 11

In [16]:
import random

x = []
for y in range(10):
    x.append(random.randint(0, 200))
print("Total is", sum(x))

Total is 715

## Problem 12

In [1]:
import pandas as pd
df = pd.read_csv("10-classwork/countries.csv")
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Continent</th>
      <th>GDP_per_capita</th>
      <th>life_expectancy</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Afghanistan</td>
      <td>Asia</td>
      <td>663</td>
      <td>54.863</td>
      <td>22856302</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Albania</td>
      <td>Europe</td>
      <td>4195</td>
      <td>74.200</td>
      <td>3071856</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Algeria</td>
      <td>Africa</td>
      <td>5098</td>
      <td>68.963</td>
      <td>30533827</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Angola</td>
      <td>Africa</td>
      <td>2446</td>
      <td>45.234</td>
      <td>13926373</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Antigua and Barbuda</td>
      <td>N. America</td>
      <td>12738</td>
      <td>73.544</td>
      <td>77656</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
df[df['life_expectancy'] > 70]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Continent</th>
      <th>GDP_per_capita</th>
      <th>life_expectancy</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Albania</td>
      <td>Europe</td>
      <td>4195</td>
      <td>74.200</td>
      <td>3071856</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Antigua and Barbuda</td>
      <td>N. America</td>
      <td>12738</td>
      <td>73.544</td>
      <td>77656</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Argentina</td>
      <td>S. America</td>
      <td>10571</td>
      <td>73.822</td>
      <td>36930709</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Armenia</td>
      <td>Europe</td>
      <td>2114</td>
      <td>71.494</td>
      <td>3076098</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Australia</td>
      <td>Oceania</td>
      <td>29241</td>
      <td>79.930</td>
      <td>19164351</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Austria</td>
      <td>Europe</td>
      <td>32008</td>
      <td>78.330</td>
      <td>8004712</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Bahamas</td>
      <td>N. America</td>
      <td>22728</td>
      <td>72.370</td>
      <td>297651</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Bahrain</td>
      <td>Asia</td>
      <td>22015</td>
      <td>74.497</td>
      <td>638193</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Barbados</td>
      <td>N. America</td>
      <td>14982</td>
      <td>73.118</td>
      <td>267511</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Belgium</td>
      <td>Europe</td>
      <td>29940</td>
      <td>77.910</td>
      <td>10175684</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Belize</td>
      <td>N. America</td>
      <td>6545</td>
      <td>70.425</td>
      <td>250512</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Bosnia and Herzegovina</td>
      <td>Europe</td>
      <td>5733</td>
      <td>74.882</td>
      <td>3693698</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Brazil</td>
      <td>S. America</td>
      <td>8056</td>
      <td>70.261</td>
      <td>174425387</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Brunei</td>
      <td>Asia</td>
      <td>48020</td>
      <td>75.927</td>
      <td>327036</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Bulgaria</td>
      <td>Europe</td>
      <td>6907</td>
      <td>71.590</td>
      <td>8006158</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Canada</td>
      <td>N. America</td>
      <td>32448</td>
      <td>79.410</td>
      <td>30667365</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Chile</td>
      <td>S. America</td>
      <td>10435</td>
      <td>77.010</td>
      <td>15419820</td>
    </tr>
    <tr>
      <th>34</th>
      <td>China</td>
      <td>Asia</td>
      <td>3407</td>
      <td>72.124</td>
      <td>1269116737</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Colombia</td>
      <td>S. America</td>
      <td>5749</td>
      <td>71.026</td>
      <td>39764166</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Costa Rica</td>
      <td>N. America</td>
      <td>7672</td>
      <td>77.721</td>
      <td>3919180</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Croatia</td>
      <td>Europe</td>
      <td>10582</td>
      <td>74.798</td>
      <td>4505533</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Cuba</td>
      <td>N. America</td>
      <td>6115</td>
      <td>76.684</td>
      <td>11104313</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Cyprus</td>
      <td>Europe</td>
      <td>22821</td>
      <td>78.011</td>
      <td>943294</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Czech Rep.</td>
      <td>Europe</td>
      <td>16823</td>
      <td>75.050</td>
      <td>10242890</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Denmark</td>
      <td>Europe</td>
      <td>31805</td>
      <td>76.900</td>
      <td>5339501</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Dominican Rep.</td>
      <td>N. America</td>
      <td>4350</td>
      <td>70.553</td>
      <td>8591967</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Ecuador</td>
      <td>S. America</td>
      <td>5616</td>
      <td>73.353</td>
      <td>12345023</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Estonia</td>
      <td>Europe</td>
      <td>11244</td>
      <td>70.800</td>
      <td>1370749</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Finland</td>
      <td>Europe</td>
      <td>27171</td>
      <td>77.760</td>
      <td>5173370</td>
    </tr>
    <tr>
      <th>57</th>
      <td>France</td>
      <td>Europe</td>
      <td>28636</td>
      <td>79.230</td>
      <td>59047795</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Peru</td>
      <td>S. America</td>
      <td>5791</td>
      <td>70.506</td>
      <td>25861887</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Poland</td>
      <td>Europe</td>
      <td>11680</td>
      <td>73.910</td>
      <td>38302444</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Portugal</td>
      <td>Europe</td>
      <td>19609</td>
      <td>76.840</td>
      <td>10336209</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Qatar</td>
      <td>Asia</td>
      <td>60394</td>
      <td>76.680</td>
      <td>590957</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Romania</td>
      <td>Europe</td>
      <td>7089</td>
      <td>70.470</td>
      <td>22191683</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Saint Lucia</td>
      <td>N. America</td>
      <td>8676</td>
      <td>71.456</td>
      <td>157108</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Saint Vincent and the Grenadines</td>
      <td>N. America</td>
      <td>5893</td>
      <td>70.600</td>
      <td>107891</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Saudi Arabia</td>
      <td>Asia</td>
      <td>20001</td>
      <td>72.401</td>
      <td>20045276</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Serbia</td>
      <td>Europe</td>
      <td>6607</td>
      <td>72.072</td>
      <td>10133561</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Seychelles</td>
      <td>Africa</td>
      <td>15230</td>
      <td>71.771</td>
      <td>78685</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Singapore</td>
      <td>Asia</td>
      <td>36834</td>
      <td>78.340</td>
      <td>3919300</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Slovak Republic</td>
      <td>Europe</td>
      <td>12689</td>
      <td>73.190</td>
      <td>5404845</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Slovenia</td>
      <td>Europe</td>
      <td>19399</td>
      <td>76.110</td>
      <td>1985406</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Spain</td>
      <td>Europe</td>
      <td>23410</td>
      <td>79.340</td>
      <td>40288457</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Sri Lanka</td>
      <td>Asia</td>
      <td>2997</td>
      <td>71.078</td>
      <td>18745084</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Sweden</td>
      <td>Europe</td>
      <td>28640</td>
      <td>79.840</td>
      <td>8860153</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Switzerland</td>
      <td>Europe</td>
      <td>34386</td>
      <td>79.990</td>
      <td>7167908</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Syria</td>
      <td>Asia</td>
      <td>3935</td>
      <td>73.316</td>
      <td>15988534</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Taiwan</td>
      <td>Asia</td>
      <td>23525</td>
      <td>76.020</td>
      <td>22183000</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Thailand</td>
      <td>Asia</td>
      <td>5578</td>
      <td>70.921</td>
      <td>63155029</td>
    </tr>
    <tr>
      <th>169</th>
      <td>Tonga</td>
      <td>Oceania</td>
      <td>4886</td>
      <td>70.810</td>
      <td>97935</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Tunisia</td>
      <td>Africa</td>
      <td>5480</td>
      <td>73.159</td>
      <td>9456117</td>
    </tr>
    <tr>
      <th>172</th>
      <td>Turkey</td>
      <td>Asia</td>
      <td>6803</td>
      <td>70.010</td>
      <td>63627862</td>
    </tr>
    <tr>
      <th>176</th>
      <td>United Arab Emirates</td>
      <td>Asia</td>
      <td>30012</td>
      <td>74.163</td>
      <td>3033491</td>
    </tr>
    <tr>
      <th>177</th>
      <td>United Kingdom</td>
      <td>Europe</td>
      <td>28644</td>
      <td>78.040</td>
      <td>58874117</td>
    </tr>
    <tr>
      <th>178</th>
      <td>United States</td>
      <td>N. America</td>
      <td>39758</td>
      <td>76.800</td>
      <td>282496310</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Uruguay</td>
      <td>S. America</td>
      <td>9092</td>
      <td>74.777</td>
      <td>3319066</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Venezuela</td>
      <td>S. America</td>
      <td>9434</td>
      <td>72.432</td>
      <td>24348304</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Vietnam</td>
      <td>Asia</td>
      <td>1577</td>
      <td>73.777</td>
      <td>78758010</td>
    </tr>
    <tr>
      <th>184</th>
      <td>West Bank and Gaza</td>
      <td>Asia</td>
      <td>7586</td>
      <td>70.929</td>
      <td>3198560</td>
    </tr>
  </tbody>
</table>
<p>95 rows × 5 columns</p>
</div>

## Problem 13

In [3]:
df.GDP_per_capita.mean()

9977.558510638299

## Problem 14

In [5]:
df[df['life_expectancy'] > 70]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Continent</th>
      <th>GDP_per_capita</th>
      <th>life_expectancy</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Albania</td>
      <td>Europe</td>
      <td>4195</td>
      <td>74.200</td>
      <td>3071856</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Antigua and Barbuda</td>
      <td>N. America</td>
      <td>12738</td>
      <td>73.544</td>
      <td>77656</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Argentina</td>
      <td>S. America</td>
      <td>10571</td>
      <td>73.822</td>
      <td>36930709</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Armenia</td>
      <td>Europe</td>
      <td>2114</td>
      <td>71.494</td>
      <td>3076098</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Australia</td>
      <td>Oceania</td>
      <td>29241</td>
      <td>79.930</td>
      <td>19164351</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Austria</td>
      <td>Europe</td>
      <td>32008</td>
      <td>78.330</td>
      <td>8004712</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Bahamas</td>
      <td>N. America</td>
      <td>22728</td>
      <td>72.370</td>
      <td>297651</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Bahrain</td>
      <td>Asia</td>
      <td>22015</td>
      <td>74.497</td>
      <td>638193</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Barbados</td>
      <td>N. America</td>
      <td>14982</td>
      <td>73.118</td>
      <td>267511</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Belgium</td>
      <td>Europe</td>
      <td>29940</td>
      <td>77.910</td>
      <td>10175684</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Belize</td>
      <td>N. America</td>
      <td>6545</td>
      <td>70.425</td>
      <td>250512</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Bosnia and Herzegovina</td>
      <td>Europe</td>
      <td>5733</td>
      <td>74.882</td>
      <td>3693698</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Brazil</td>
      <td>S. America</td>
      <td>8056</td>
      <td>70.261</td>
      <td>174425387</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Brunei</td>
      <td>Asia</td>
      <td>48020</td>
      <td>75.927</td>
      <td>327036</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Bulgaria</td>
      <td>Europe</td>
      <td>6907</td>
      <td>71.590</td>
      <td>8006158</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Canada</td>
      <td>N. America</td>
      <td>32448</td>
      <td>79.410</td>
      <td>30667365</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Chile</td>
      <td>S. America</td>
      <td>10435</td>
      <td>77.010</td>
      <td>15419820</td>
    </tr>
    <tr>
      <th>34</th>
      <td>China</td>
      <td>Asia</td>
      <td>3407</td>
      <td>72.124</td>
      <td>1269116737</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Colombia</td>
      <td>S. America</td>
      <td>5749</td>
      <td>71.026</td>
      <td>39764166</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Costa Rica</td>
      <td>N. America</td>
      <td>7672</td>
      <td>77.721</td>
      <td>3919180</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Croatia</td>
      <td>Europe</td>
      <td>10582</td>
      <td>74.798</td>
      <td>4505533</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Cuba</td>
      <td>N. America</td>
      <td>6115</td>
      <td>76.684</td>
      <td>11104313</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Cyprus</td>
      <td>Europe</td>
      <td>22821</td>
      <td>78.011</td>
      <td>943294</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Czech Rep.</td>
      <td>Europe</td>
      <td>16823</td>
      <td>75.050</td>
      <td>10242890</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Denmark</td>
      <td>Europe</td>
      <td>31805</td>
      <td>76.900</td>
      <td>5339501</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Dominican Rep.</td>
      <td>N. America</td>
      <td>4350</td>
      <td>70.553</td>
      <td>8591967</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Ecuador</td>
      <td>S. America</td>
      <td>5616</td>
      <td>73.353</td>
      <td>12345023</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Estonia</td>
      <td>Europe</td>
      <td>11244</td>
      <td>70.800</td>
      <td>1370749</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Finland</td>
      <td>Europe</td>
      <td>27171</td>
      <td>77.760</td>
      <td>5173370</td>
    </tr>
    <tr>
      <th>57</th>
      <td>France</td>
      <td>Europe</td>
      <td>28636</td>
      <td>79.230</td>
      <td>59047795</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Peru</td>
      <td>S. America</td>
      <td>5791</td>
      <td>70.506</td>
      <td>25861887</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Poland</td>
      <td>Europe</td>
      <td>11680</td>
      <td>73.910</td>
      <td>38302444</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Portugal</td>
      <td>Europe</td>
      <td>19609</td>
      <td>76.840</td>
      <td>10336209</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Qatar</td>
      <td>Asia</td>
      <td>60394</td>
      <td>76.680</td>
      <td>590957</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Romania</td>
      <td>Europe</td>
      <td>7089</td>
      <td>70.470</td>
      <td>22191683</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Saint Lucia</td>
      <td>N. America</td>
      <td>8676</td>
      <td>71.456</td>
      <td>157108</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Saint Vincent and the Grenadines</td>
      <td>N. America</td>
      <td>5893</td>
      <td>70.600</td>
      <td>107891</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Saudi Arabia</td>
      <td>Asia</td>
      <td>20001</td>
      <td>72.401</td>
      <td>20045276</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Serbia</td>
      <td>Europe</td>
      <td>6607</td>
      <td>72.072</td>
      <td>10133561</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Seychelles</td>
      <td>Africa</td>
      <td>15230</td>
      <td>71.771</td>
      <td>78685</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Singapore</td>
      <td>Asia</td>
      <td>36834</td>
      <td>78.340</td>
      <td>3919300</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Slovak Republic</td>
      <td>Europe</td>
      <td>12689</td>
      <td>73.190</td>
      <td>5404845</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Slovenia</td>
      <td>Europe</td>
      <td>19399</td>
      <td>76.110</td>
      <td>1985406</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Spain</td>
      <td>Europe</td>
      <td>23410</td>
      <td>79.340</td>
      <td>40288457</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Sri Lanka</td>
      <td>Asia</td>
      <td>2997</td>
      <td>71.078</td>
      <td>18745084</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Sweden</td>
      <td>Europe</td>
      <td>28640</td>
      <td>79.840</td>
      <td>8860153</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Switzerland</td>
      <td>Europe</td>
      <td>34386</td>
      <td>79.990</td>
      <td>7167908</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Syria</td>
      <td>Asia</td>
      <td>3935</td>
      <td>73.316</td>
      <td>15988534</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Taiwan</td>
      <td>Asia</td>
      <td>23525</td>
      <td>76.020</td>
      <td>22183000</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Thailand</td>
      <td>Asia</td>
      <td>5578</td>
      <td>70.921</td>
      <td>63155029</td>
    </tr>
    <tr>
      <th>169</th>
      <td>Tonga</td>
      <td>Oceania</td>
      <td>4886</td>
      <td>70.810</td>
      <td>97935</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Tunisia</td>
      <td>Africa</td>
      <td>5480</td>
      <td>73.159</td>
      <td>9456117</td>
    </tr>
    <tr>
      <th>172</th>
      <td>Turkey</td>
      <td>Asia</td>
      <td>6803</td>
      <td>70.010</td>
      <td>63627862</td>
    </tr>
    <tr>
      <th>176</th>
      <td>United Arab Emirates</td>
      <td>Asia</td>
      <td>30012</td>
      <td>74.163</td>
      <td>3033491</td>
    </tr>
    <tr>
      <th>177</th>
      <td>United Kingdom</td>
      <td>Europe</td>
      <td>28644</td>
      <td>78.040</td>
      <td>58874117</td>
    </tr>
    <tr>
      <th>178</th>
      <td>United States</td>
      <td>N. America</td>
      <td>39758</td>
      <td>76.800</td>
      <td>282496310</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Uruguay</td>
      <td>S. America</td>
      <td>9092</td>
      <td>74.777</td>
      <td>3319066</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Venezuela</td>
      <td>S. America</td>
      <td>9434</td>
      <td>72.432</td>
      <td>24348304</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Vietnam</td>
      <td>Asia</td>
      <td>1577</td>
      <td>73.777</td>
      <td>78758010</td>
    </tr>
    <tr>
      <th>184</th>
      <td>West Bank and Gaza</td>
      <td>Asia</td>
      <td>7586</td>
      <td>70.929</td>
      <td>3198560</td>
    </tr>
  </tbody>
</table>
<p>95 rows × 5 columns</p>
</div>